apiVersion: configs.stratio.io/v1alpha1
kind: xGCPZonesConfig
metadata:
  name: {{ .ClusterName }}-zones-config
  labels:
    keos.stratio.com/cluster: "{{ .ClusterName }}"
spec:
  externalDomain: {{ .ExternalDomain }}
  clusterName: {{ .ClusterName }}
  providerConfigName: {{ .Addon }}-provider
  projectName: {{ .ProjectName }}

