apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: {{ $.Provider }}
spec:
  package: {{ $.Provider }}
  skipDependencyResolution: true
  packagePullPolicy: Never
  runtimeConfigRef:
    name: custom-config-{{ $.Provider }}
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: custom-config-{{ $.Provider }}
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              #No funciona imagePullPolicy
              imagePullPolicy: Always 
              image: {{ $.Image }}
