apiVersion: ec2.aws.upbound.io/v1beta1
kind: SecurityGroup
metadata:
  labels:
    keos.stratio.com/sg-name: sg-additional-for-eks
  name: sg-additional-for-eks
spec:
  deletionPolicy: Delete
  forProvider:
    name: additional-sg-for-eks
    description: "Additional Security Group for offline deployments in EKS"
    region: {{ .Region }}
    vpcId: {{ .VPCId }}
---
apiVersion: ec2.aws.upbound.io/v1beta1
kind: SecurityGroupIngressRule
metadata:
  labels:
     keos.stratio.com/sg-ig-name: sg-ig-additional-for-eks
  name: sg-ig-additional-for-eks
spec:
  forProvider:
    cidrIpv4: {{ .CIDR }}
    ipProtocol: "-1"
    region: {{ .Region }}
    securityGroupIdSelector:
      matchLabels:
        keos.stratio.com/sg-name: sg-additional-for-eks
---
apiVersion: ec2.aws.upbound.io/v1beta1
kind: SecurityGroupEgressRule
metadata:
  labels:
     keos.stratio.com/sg-eg-name: sg-eg-additional-for-eks
  name: sg-eg-additional-for-eks
spec:
  forProvider:
    cidrIpv4: 0.0.0.0/0
    ipProtocol: "-1"
    region: {{ .Region }}
    securityGroupIdSelector:
      matchLabels:
        keos.stratio.com/sg-name: sg-additional-for-eks