apiVersion: configs.stratio.io/v1alpha1
kind: xZonesConfig
metadata:
  name: {{ .ClusterName }}-zones-config
spec:
  region: {{ .Region }}
  vpcId: {{ .VPCId }}
  externalDomain: {{ .ExternalDomain }}
  clusterName: {{ .ClusterName }}
  providerConfigName: {{ .Addon }}-provider