apiVersion: configs.stratio.io/v1alpha1
kind: xAWSZonesConfig
metadata:
  name: {{ .ClusterName }}-zones-config
  labels:
    keos.stratio.com/cluster: "{{ .ClusterName }}"
spec:
  region: {{ .Region }}
  vpcId: {{ .VPCId }}
  externalDomain: {{ .ExternalDomain }}
  clusterName: {{ .ClusterName }}
  providerConfigName: {{ .Addon }}-provider
  accountId: {{ .AccountID }}
  oidcProviderId: {{ .OIDCProviderID }}

