cloud: AzurePublicCloud
controller:
  affinity: {}
  allowEmptyCloudConfig: false
  annotations: {}
  attacherWorkerThreads: 1000
  cloudConfigSecretName: azure-cloud-provider
  cloudConfigSecretNamespace: kube-system
  disableAvailabilitySetNodes: false
  enableTrafficManager: false
  hostNetwork: true
  labels: {}
  livenessProbe:
    healthPort: 29602
  logLevel: 5
  metricsPort: 29604
  name: csi-azuredisk-controller
  nodeSelector: {}
  podAnnotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict-local-volumes: socket-dir,azure-cred
  podLabels: {}
  provisionerWorkerThreads: 100
  replicas: 2
  resources:
    azuredisk:
      limits:
        memory: 500Mi
      requests:
        cpu: 10m
        memory: 20Mi
    csiAttacher:
      limits:
        memory: 500Mi
      requests:
        cpu: 10m
        memory: 20Mi
    csiProvisioner:
      limits:
        memory: 500Mi
      requests:
        cpu: 10m
        memory: 20Mi
    csiResizer:
      limits:
        memory: 500Mi
      requests:
        cpu: 10m
        memory: 20Mi
    csiSnapshotter:
      limits:
        memory: 200Mi
      requests:
        cpu: 10m
        memory: 20Mi
    livenessProbe:
      limits:
        memory: 100Mi
      requests:
        cpu: 10m
        memory: 20Mi
  runOnControlPlane: false
  runOnMaster: false
  tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/controlplane
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
  trafficManagerPort: 7788
  vmType: ""
  vmssCacheTTLInSeconds: -1
driver:
  azureGoSDKLogLevel: ""
  customUserAgent: ""
  httpProxy: ""
  httpsProxy: ""
  name: disk.csi.azure.com
  noProxy: ""
  userAgentSuffix: OSS-helm
  volumeAttachLimit: -1
feature:
  enableFSGroupPolicy: true
image:
  azuredisk:
    pullPolicy: IfNotPresent
    repository: /oss/kubernetes-csi/azuredisk-csi
    tag: v1.28.3
  baseRepo: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}
  csiAttacher:
    pullPolicy: IfNotPresent
    repository: /oss/kubernetes-csi/csi-attacher
    tag: v4.3.0
  csiProvisioner:
    pullPolicy: IfNotPresent
    repository: /oss/kubernetes-csi/csi-provisioner
    tag: v3.5.0
  csiResizer:
    pullPolicy: IfNotPresent
    repository: /oss/kubernetes-csi/csi-resizer
    tag: v1.8.0
  livenessProbe:
    pullPolicy: IfNotPresent
    repository: /oss/kubernetes-csi/livenessprobe
    tag: v2.10.0
  nodeDriverRegistrar:
    pullPolicy: IfNotPresent
    repository: /oss/kubernetes-csi/csi-node-driver-registrar
    tag: v2.8.0
imagePullSecrets: []
linux:
  affinity: {}
  annotations: {}
  distro: debian
  dsName: csi-azuredisk-node
  enablePerfOptimization: true
  enableRegistrationProbe: true
  enabled: true
  getNodeInfoFromLabels: false
  hostNetwork: true
  kubelet: /var/lib/kubelet
  labels: {}
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: type
          operator: NotIn
          values:
          - virtual-kubelet
  nodeSelector: {}
  podAnnotations: {}
  podLabels: {}
  resources:
    azuredisk:
      limits:
        memory: 200Mi
      requests:
        cpu: 10m
        memory: 20Mi
    livenessProbe:
      limits:
        memory: 100Mi
      requests:
        cpu: 10m
        memory: 20Mi
    nodeDriverRegistrar:
      limits:
        memory: 100Mi
      requests:
        cpu: 10m
        memory: 20Mi
  tolerations:
  - operator: Exists
node:
  allowEmptyCloudConfig: true
  cloudConfigSecretName: azure-cloud-provider
  cloudConfigSecretNamespace: kube-system
  getNodeIDFromIMDS: false
  livenessProbe:
    healthPort: 29603
  logLevel: 5
  maxUnavailable: 1
  supportZone: true
rbac:
  create: true
  name: azuredisk
serviceAccount:
  controller: csi-azuredisk-controller-sa
  create: true
  node: csi-azuredisk-node-sa
  snapshotController: csi-snapshot-controller-sa
snapshot:
  VolumeSnapshotClass:
    additionalLabels: {}
    deletionPolicy: Delete
    enabled: false
    name: csi-azuredisk-vsc
    parameters:
      incremental: '"true"'
      resourceGroup: ""
      tags: ""
  enabled: false
  image:
    csiSnapshotController:
      pullPolicy: IfNotPresent
      repository: /oss/kubernetes-csi/snapshot-controller
      tag: v6.2.2
    csiSnapshotter:
      pullPolicy: IfNotPresent
      repository: /oss/kubernetes-csi/csi-snapshotter
      tag: v6.2.2
  name: csi-snapshot-controller
  snapshotController:
    annotations: {}
    labels: {}
    name: csi-snapshot-controller
    podAnnotations: {}
    podLabels: {}
    replicas: 2
    resources:
      limits:
        memory: 300Mi
      requests:
        cpu: 10m
        memory: 20Mi
windows:
  affinity: {}
  annotations: {}
  dsName: csi-azuredisk-node-win
  enableRegistrationProbe: true
  enabled: true
  getNodeInfoFromLabels: false
  kubelet: C:\\var\\lib\\kubelet
  labels: {}
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: type
          operator: NotIn
          values:
          - virtual-kubelet
  nodeSelector: {}
  podAnnotations: {}
  podLabels: {}
  resources:
    azuredisk:
      limits:
        memory: 200Mi
      requests:
        cpu: 10m
        memory: 40Mi
    livenessProbe:
      limits:
        memory: 150Mi
      requests:
        cpu: 10m
        memory: 40Mi
    nodeDriverRegistrar:
      limits:
        memory: 150Mi
      requests:
        cpu: 30m
        memory: 40Mi
  tolerations:
  - effect: NoSchedule
    key: node.kubernetes.io/os
    operator: Exists
  useHostProcessContainers: false
workloadIdentity:
  clientID: ""
  tenantID: ""