---
cloudControllerManager:
  allocateNodeCidrs: "true"
  caCertDir: /etc/ssl
  cloudConfig: /etc/kubernetes/azure.json
  clusterCIDR: {{ $.PodsCidr }}
  configureCloudRoutes: false
  containerResourceManagement:
    limitsCPU: "4"
    limitsMem: 2Gi
    requestsCPU: 100m
    requestsMem: 128Mi
  enabled: true
  imageName: azure-cloud-controller-manager
  imagePullPolicy: IfNotPresent
  imageRepository: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes
  leaderElect: "true"
  logVerbosity: "2"
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
  replicas: 2
  routeReconciliationPeriod: 10s
  securePort: 10268
  tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
  - effect: NoExecute
    key: node-role.kubernetes.io/etcd
cloudNodeManager:
  containerResourceManagement:
    limitsCPU: "2"
    limitsCPUWin: "2"
    limitsMem: 512Mi
    limitsMemWin: 512Mi
    requestsCPU: 50m
    requestsCPUWin: 50m
    requestsMem: 50Mi
    requestsMemWin: 50Mi
  enabled: true
  imageName: azure-cloud-node-manager
  imagePullPolicy: IfNotPresent
  imageRepository: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes
infra:
  clusterName: {{ $.ClusterName }}