apiVersion: azure.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: {{ .Addon }}
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: {{ .Secret }}
      key: creds
---
apiVersion: azuread.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: {{ .Addon }}
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: {{ .Secret }}
      key: creds
---